body {
    background-color: FFFBF0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: #363958;
    text-transform: none;
}

h1 {
    font-weight: bold;
    font-size: 60px;
    line-height: 64px;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 48px;
    line-height: 48px;
    font-family: 'Bebas Neue', cursive;
}

h4 {
    text-transform: none;
}

h5 {
    display: inline-block;
}

p {
    color: #3E3E3E;
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.btn {
    background-color: #A4BC46;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background-color: #fabe4c;
}

.fas {
    margin: 10px;
}


/* Header Seaction Image*/

.logo img {
    width: 291px;
    height: 39px;
}


/* Header Seaction Menu*/

.navmenu {
    font-size: 25px;
    color: #3C3C3C !important;
    padding-right: 8px !important;
}

.navmenu:hover {
    background-color: rgb(207, 220, 163);
    border-radius: #A4BC46;
}

.jacket-card {
    border: none !important;
}

.jacket-card-footer {
    background-color: white;
    border-top: none !important;
}

.jacket-card img {
    height: 334px;
    width: 100%;
    background: #F1F1F1;
    border-radius: 20px;
}

.jacket-card img:nth-child(2) {
    height: 3px;
    width: 100%;
    background: #F1F1F1;
    border-radius: 20px;
}

.jacket-card-height img {
    padding: 30px;
}